@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* rem will scale off this font size */
html {
  font-size: 1.2vmax;
}

body {
  padding: 0%;
  margin: 0%;
  height: 100vh;
  width: 100vw;

  font-family: 'Poppins';
  color: #1B1F23;
  background: #FFFFFF;
}

button {
  font-family: 'Poppins';
  color: #1B1F23;
  font-size: 1rem;
  cursor: pointer;
  background: none;
  border: none;
}

input {
  font-family: 'Poppins';
  color: #637381;
  font-size: 0.875rem;
}

.app {
  width: 100%;
  height: 100vh;
  font-size: 1rem;

  /* Dimensions of the content container, this will also be used to
       automatically calculate dimensions of nav bars. */
  --contentWidth: 95%;
  --contentHeight: 92%;
}


.navBarTop {
  position: absolute;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100% - var(--contentHeight));

  background: rgba(61, 86, 240, 0.05);
}

.navBarTop .navLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - var(--contentWidth));
  height: 100%;

  background: rgba(61, 86, 240, 0.10);
}

.navBarTop .navLogo img {
  width: 50%;
}

.navBarTop .navUserProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - var(--contentWidth));
  height: 100%;
}

.navBarTop .navUserProfile img {
  width: 50%;
}

.navBarSide {
  position: absolute;
  top: calc(100% - var(--contentHeight));

  width: calc(100% - var(--contentWidth));
  height: var(--contentHeight);
  background: rgba(61, 86, 240, 0.05);
}

.navBarSide .navBarLinks {
  position: absolute;
  top: 5%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5%;

  width: 100%;
  height: 95%;
}

.navBarSide .navBarLinks button {
  width: 7vmin;
}

/* Specific styles for non-active links */
.navBarSide .navBarLinks .link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBarSide .navBarLinks .link-active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  border-left: 0.5rem solid #3D56F0;
}

.navBarLinks .logoutBtn {
  position: absolute;
  top: 90%;
}

.navIcons {
  width: 100%;
  height: auto;
}

.contentContainer {
  position: absolute;
  left: calc(100% - var(--contentWidth));
  top: calc(100% - var(--contentHeight));

  width: var(--contentWidth);
  height: var(--contentHeight);
}

/* .meetsPage {
  height: "100%";
}

.videoCallGrid {
  height: "100%";
}

.videoCallGrid .videoControl {
  height: "5%";
}

.videoCallGrid .videoCall {
  height: "95%";
} */

.loginPage {
  position: fixed;
  z-index: 100;
  top: 0%;
  left: 0%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background: white;
}

.loginSection {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 70%;

  padding: 2%;
  font-size: 0.875rem;
}

.loginSection button {
  font-size: 0.875rem;
}

.loginSection .headStarterLogo {
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}

.loginSection .googleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;

  box-sizing: border-box;
  border: 1px solid #637381;
  border-radius: 10px;
  background: white;
}

.loginSection .googleBtn .googleLogo {
  height: 90%;
}

.loginSection .loginSeparator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;

  font-size: 0.625rem;
  color: #637381;
}

.loginSeparator .sepLine1,
.loginSeparator .sepLine2 {
  flex: 1;
  height: 1%;

  background-color: #637381;
  border: 1px solid #637381;
}

.sepLine1 {
  margin-right: 5%;
}

.sepLine2 {
  margin-left: 5%;
}

.loginSection input {
  height: 10%;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;

  box-sizing: border-box;
  border: 1px solid #637381;
  border-radius: 10px;
  background: white;
}

.loginSection .loginBtn {
  width: 100%;
  height: 10%;

  background: #3D56F0;
  border-radius: 5px;
  color: white;
}

.homePage {
  width: 100%;
  height: 100%;
}

.homePage .homeGreeting {
  position: absolute;
  top: 4%;
  left: 4%;

  font-size: 1.4rem;
  font-weight: 800;
}

.homePage .homeMeetingBtn {
  position: absolute;
  top: 4%;
  right: 6%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  height: 6%;

  background: #3D56F0;
  box-shadow: 8px 16px 20px rgba(61, 86, 240, 0.24);
  border-radius: 5px;
  font-size: 0.875rem;
  color: #FFFFFF;
}

.homePage .homeTasksContainer {
  position: absolute;
  top: 10%;
  left: 4%;

  width: 60%;
  height: 60%;

  box-sizing: border-box;
  border: 1px solid #637381;
  border-radius: 5px;
}

.homeTasksContainer .topTaskSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.calendarPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  font-size: 0.875rem;
}